@use '../abstracts/' as *;
@use '../components/gpw-swiper';
body.admin-bar {
  --admin-bar-height: 2rem;
}
/* ===================================== */
/* =                Header             = */
/* ===================================== */
.gpw-breadcrumbs {
  padding-block: var(--spacing-sm);
}
.product-header {
  padding-block: 0 1rem;

  &__title {
    color: var(--primary-color-500);
    font-size: var(--fs-xl);
    margin-bottom: 0.75rem;
  }

  &__address {
    margin-bottom: 0.75rem;
  }

  &__meta-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-sm);
  }

  &__meta-item {
    &--review-point {
      color: var(--primary-color-500);
      background-color: var(--primary-color-50);
      display: block;
      padding: 0.125rem 0.25rem;
      border-radius: 0.5rem 0.1875rem;
    }
  }
}
/* ===================================== */
/* =               Gallery             = */
/* ===================================== */
.gpw-gallery {
  --_border-radius: 1rem;
  padding-block: 0 1rem;

  .section__inner {
    overflow: hidden;
    border-radius: var(--_border-radius);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__remain-imgs {
    display: none;
  }

  &__total-display {
    position: absolute;
    width: 100%;
    height: 100%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: rgb(from var(--gray-darkest) r g b / 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3125rem;
    pointer-events: none;

    span {
      color: #fff;
    }
  }

  @container content (width <=850px) {
    .swiper-slide {
      aspect-ratio: 48/31;
    }

    .carousel-btn {
      --btn-translate-x: 25%;
    }

    .carousel-btn__next {
      --btn-translate-x: -25%;
    }

    &__total-display {
      display: none;
    }
  }

  @container content (width > 850px) {
    .swiper-wrapper {
      display: grid;
      grid-template-columns: 40% repeat(3, minmax(0, 1fr));
      gap: 0.25rem;
    }

    .swiper-slide {
      aspect-ratio: 48/31;

      &:first-child {
        grid-row: 1 / 3;
      }
    }

    .gpw-nav-btn {
      display: none;
    }
  }
}
/* ===================================== */
/* =          Product details          = */
/* ===================================== */
.product-details {
  --_border-radius: 1rem;
  padding-block: 0 1rem;

  .section__inner {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--spacing-lg) var(--spacing-2xl);
  }

  &__nav {
    position: fixed;
    top: calc(var(--header-height, 4.375rem) + var(--admin-bar-height, 0px));
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0.375rem rgb(from var(--gray-color-500) r g b / 0.25);

    &-list,
    &-item {
      margin-bottom: 0;
    }

    &-list {
      width: min(var(--screen-lg), calc(100% - 1.25rem));
      margin-inline: auto;
      list-style: none;
      display: flex;

      &--hidden {
        display: none;
      }
    }

    &-item {
      cursor: pointer;
      padding: var(--spacing-sm) var(--spacing-lg);

      transition:
        color 300ms,
        border-color 300ms;

      &--active {
        color: var(--primary-color-500);
        border-bottom: 0.125rem solid currentColor;
      }

      &:hover:not(&--active) {
        color: var(--primary-color-500);
      }
    }
  }

  &__highlights {
    margin-block: 0 1rem;
    background-color: var(--primary-color-50);
    padding: var(--spacing-lg);
    border-radius: var(--_border-radius);
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 0fr min-content;
    
    transition: grid-template-rows 500ms;

    &-content {
      overflow: hidden;
      min-height: calc( var(--fs-normal) * 1.5 * 4);

      ul, ol {
        margin-left: 1.25rem;
      }
    }

    &-toggle {
      display: flex;
      align-items: center;
      gap: .25rem;
      font-weight: 700;

      &:before {
        content: attr(data-expanded-text);
      }
    }

    &:has([aria-expanded="true"]) {
      grid-template-rows: 1fr min-content;

      .product-details__highlights-toggle:before {
        content: attr(data-collapsed-text);
      }
    }
  }

  &__sidebar {
    position: relative;
  }

  .product-sidebar {
    position: sticky;
    top: calc(var(--header-height, 4.375rem) + var(--admin-bar-height, 0px) + var(--_nav-height, 3.125rem) + var(--spacing-lg));
    background-color: #fff;
    border: 0.0625rem solid var(--gray-color-200);
    padding: var(--spacing-lg);
    border-radius: var(--_border-radius);

    &--price {
      .woocommerce-Price-amount {
        display: inline-block;
        font-size: var(--fs-lg);
        margin-bottom: 0.75rem;
      }

      a:is(.gpw-button) {
        --_gpw-button-padding-block: var(--spacing-sm);
        --_gpw-button-border-radius: 0.625rem;
        --_gpw-button-text-transform: none;
      }
    }
  }

  @include container-query(content, md, gt) {
    .section__inner {
      grid-template-columns: minmax(0, 1fr) 20rem;
    }
  }
}
